:root {
    --tile-size: 2em;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#table {
    border: 2px solid lightgray;

    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(6, auto);
}

.tile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--tile-size);
    height: var(--tile-size);
    width: var(--tile-size);
    background: white;
    border: calc(var(--tile-size)/30) solid lightgray;
    box-sizing: border-box;
}

.help {
    position: absolute;
    background: gray;
    color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: calc(var(--tile-size)/2);
    height: calc(var(--tile-size)/2);
    font-size: 20px;

    --distance: calc((47*var(--tile-size)/30)/2);
    --distance-neg: calc(-1 * var(--distance));
}

.help.up { transform: translateY(var(--distance-neg));}
.help.down { transform: translateY(var(--distance));}
.help.left { transform: translateX(var(--distance-neg));}
.help.right { transform: translateX(var(--distance));}

.show {
    background: lightgray !important;
}

@keyframes bounce {
    0% { border-width: calc(var(--tile-size)/10); }
    100% { border-width: calc(var(--tile-size)/30); }
}

.last-clicked {
    animation: bounce 0.5s ease-out;
}

.last-clicked::after {
    animation: none;
}

@keyframes tile-error {
    0% { background-color: white; }
    100% { background-color: lightcoral; border-color: rgb(255, 79, 79); }
}

.wrong {
    animation: tile-error 1s forwards;
    animation-delay: 1s;
}

.header {
    display: flex;
    justify-content: space-between;
    width: calc(var(--tile-size) * 12);
}

#clear {
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: lightgray;
    color: black;
    justify-self: flex-end;
}

#final-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 1;

    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    transition-delay: 1s;
}